body {
    background-color: #F9F4F1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*Nav bar styling*/
.NavBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A58D8D;
    width: 100%
}
.NavBarLinks ul {
    margin:0;
    padding: 0;
    display: flex;
}
.NavBarLinks li {
    list-style: none;
    font-size: 20px;
    display: block;
}
.NavBarLinks li a {
    text-decoration: none;
    color: #F9F4F1;
    padding: 20px;
    display: block;
    text-align: center;
}
.NavBarLinks li:hover {
    background-color: #593C36;

}
/*coffee cup styling*/
.logo img {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}
.logo a:hover {
    background-color: #A58D8D;
}
/*responsive nav bar*/
.toggleButton {
    margin-right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30px;
    height: 20px;
}
.toggleButton .bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
}

/*Content Box Styling*/

.item-box {
    width: 300px;
    height: 200px;
    background-color: #1F3225;
    color: #F9F4F1;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10vw 0 10vw;
}

.banner {
    width: 100%;
    background-color: #593C36;
    min-height: 15vh;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4F1;
}

.content {
    background-color: #A58D8D;
    min-height: 15vh;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    border-radius: 20px;
}

footer {
    width: 100%;
    padding: 3px;
    justify-content: space-evenly;
    text-align: center;
    background-color: #A58D8D;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

i{
    font-size: 28px;
    color: white;
    text-align: center;
}


input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #593C36;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.newsletter{
    column-count: 2;
    column-gap: 40px;
}

.copyright{
    padding: 10px 0;
    text-align: center;
    display: inline;
}

@media (max-width: 600px) {
    .mobile-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 70px;
    }
    .toggleButton{
        display: flex;
    }
    .NavBarLinks{
        display: none;
        width: 100%;
    }
    .NavBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .NavBarLinks ul{
        width: 100%;
        flex-direction: column;
    }
    .NavBarLinks li{
        text-align: center;
        width: 100%;
    }
    .NavBarLinks.active{
        display: flex;
        background-color: #A58D8D;
        width: 100%;
    }
}