body {
    background-color: #F9F4F1;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
/*Nav bar styling*/
.NavBar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A58D8D;
    width: 100%
}
.NavBarLinks ul {
    margin:0;
    padding: 0;
    display: flex;
}
.NavBarLinks li {
    list-style: none;
    font-size: 20px;
    display: block;
}
.NavBarLinks li a {
    text-decoration: none;
    color: #F9F4F1;
    padding: 20px;
    display: block;
    text-align: center;
}
.NavBarLinks li:hover {
    background-color: #593C36;

}
/*coffee cup styling*/
.logo img {
    width: 40px;
    height: 30px;
    margin-left: 10px;
}
.logo a:hover {
    background-color: #A58D8D;
}
/*responsive nav bar*/
.toggleButton {
    margin-right: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 30px;
    height: 20px;
}
.toggleButton .bar {
    height: 2px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
}

/*Content Box Styling*/

.item-box {
    width: 300px;
    height: 200px;
    background-color: #1F3225;
    color: #F9F4F1;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 10vw 0 10vw;
}

.banner {
    width: 100%;
    background-color: #593C36;
    min-height: 15vh;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #F9F4F1;
}

.content {
    background-color: #A58D8D;
    min-height: 15vh;
    margin: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80vw;
    border-radius: 20px;
}

footer {
    width: 100%;
    padding: 3px;
    justify-content: space-evenly;
    text-align: center;
    background-color: #A58D8D;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
}

.left {
    width: 50%;
}

.right {
    width: 50%;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

i{
    font-size: 32px;
    padding-left: 12px;
    color: white;
    text-align: center;
}

i:hover{
    opacity: 0.8;
}


input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #593C36;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.newsletter{
    column-count: 2;
    column-gap: 40px;
}

.copyright{
    padding: 10px 0;
    text-align: center;
    display: inline;
}

@media (max-width: 600px) {
    .mobile-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        min-height: 70px;
    }
    .toggleButton{
        display: flex;
    }
    .NavBarLinks{
        display: none;
        width: 100%;
    }
    .NavBar{
        flex-direction: column;
        align-items: flex-start;
    }
    .NavBarLinks ul{
        width: 100%;
        flex-direction: column;
    }
    .NavBarLinks li{
        text-align: center;
        width: 100%;
    }
    .NavBarLinks.active{
        display: flex;
        background-color: #A58D8D;
        width: 100%;
    }
}
/*animation styling*/
.container {
    width: 130px;
    height: 250px;
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - -550px);
}
.coffee-header {
    width: 100%;
    height: 10px;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #231f20;
    border-radius: 10px;
}/*
.coffee-header__buttons {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 25px;
    background-color: #282323;
    border-radius: 50%;
}
.coffee-header__buttons::after {
    content: "";
    width: 8px;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: calc(50% - 4px);
    background-color: #615e5e;
}
.coffee-header__button-one {
    left: 15px;
}
.coffee-header__button-two {
    left: 50px;
}
.coffee-header__display {
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    border-radius: 50%;
    background-color: #A58D8D;
    border: 5px solid #593C36;
    box-sizing: border-box;
}*/
.coffee-header__details {
    width: 8px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
   /* background-color: #9b9091;
    box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;*/
}
.coffee-medium {
    width: 90%;
    height: 120px;
    position: absolute;
    top: 80px;
    left: calc(50% - 45%);
    background-color: #bcb0af;
}
.coffee-medium:before {
    content: "";
    width: 90%;
    height: 100px;
    background-color: #776f6e;
    position: absolute;
    bottom: 0;
    left: calc(50% - 45%);
    border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
    width: 60px;
    height: 20px;
    position: absolute;
    top: 0;
    left: calc(50% - 30px);
    background-color: #231f20;
}
.coffe-medium__exit::before {
    content: "";
    width: 50px;
    height: 20px;
    border-radius: 0 0 50% 50%;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 25px);
    background-color: #231f20;
}
.coffe-medium__exit::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 5px);
    background-color: #231f20;
}
.coffee-medium__arm {
    width: 70px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 25px;
    background-color: #231f20;
}
.coffee-medium__arm::before {
    content: "";
    width: 15px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: -15px;
    background-color: #9e9495;
}
.coffee-medium__cup {
    width: 70px;
    height: 37px;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 40px);
    background-color: #FFF;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    right: -13px;
    border: 5px solid #FFF;
    border-radius: 50%;
}
@keyframes liquid {
    0% {
        height: 0px;
        opacity: 1;
    }
    5% {
        height: 0px;
        opacity: 1;
    }
    20% {
        height: 62px;
        opacity: 1;
    }
    95% {
        height: 62px;
        opacity: 1;
    }
    100% {
        height: 62px;
        opacity: 0;
    }
}
.coffee-medium__liquid {
    width: 6px;
    height: 63px;
    opacity: 0;
    position: absolute;
    top: 50px;
    left: calc(50% - 3px);
    background-color: #74372b;
    animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
    width: 8px;
    height: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #b3aeae;
}
@keyframes smokeOne {
    0% {
        bottom: 20px;
        opacity: 0;
    }
    40% {
        bottom: 50px;
        opacity: .5;
    }
    80% {
        bottom: 80px;
        opacity: .3;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}
@keyframes smokeTwo {
    0% {
        bottom: 40px;
        opacity: 0;
    }
    40% {
        bottom: 70px;
        opacity: .5;
    }
    80% {
        bottom: 80px;
        opacity: .3;
    }
    100% {
        bottom: 80px;
        opacity: 0;
    }
}
.coffee-medium__smoke-one {
    opacity: 0;
    bottom: 50px;
    left: 102px;
    animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
    opacity: 0;
    bottom: 70px;
    left: 118px;
    animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
    opacity: 0;
    bottom: 65px;
    right: 118px;
    animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
    opacity: 0;
    bottom: 50px;
    right: 102px;
    animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: 60px;
    left: calc(50% - 47.5%);
    background-color: #593C36;
    border-radius: 10px;
}
.coffee-footer::after {
    content: "";
    width: 106%;
    height:10px;
    position: absolute;
    bottom: -10px;
    left: -8px;
    background-color: #000;
}